<div class="row">
  <div class="span6 offset3">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  
    <%= f.label :church %><br />
    <%= f.text_field :church %>
  
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  
    <%= f.label :religion %><br />
    <%= f.text_field :religion %>
  
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  
  <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
    
  <div class="actions">
    <%= f.submit "Create account" %>
  </div>
<% end %>
</div>
</div>

