.row
  .span6.offset3
    = form_for(@user) do |f|
      = f.label :username
      %br/
      = f.text_field :username
      = f.label :church
      %br/
      = f.text_field :church
      = f.label :email
      %br/
      = f.text_field :email
      = f.label :location
      %br/
      = f.text_field :location
      = f.label :religion
      %br/
      = f.text_field :religion
      = f.label :password
      %br/
      = f.password_field :password
      = f.label :password_confirmation, "Confirmation"
      = f.password_field :password_confirmation
      .actions
        = f.submit "Create account"
/ You must be admin in order to create user accounts
