<li>
  <span class="content"></span>
  <%= event.name %>
  <%= event.description %>
  <%= event.location %>
  <%= event.start_time %>
   <%= event.end_time %>
   <%#= event.user_id %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(event.created_at) %> ago.
  </span>
</li>