

<% provide(:title, "Edit Profile") %> 
<h1>Update your profile</h1>
<% if current_user == @user %>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :username %><br />
    <%= f.text_field :username %>
  
    <%= f.label :church %><br />
    <%= f.text_field :church %>
  
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  
    <%= f.label :religion %><br />
    <%= f.text_field :religion %>
  
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  
  <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% else %>
    YOu must be the owner of this church for you to edit it's information.
    <% end %>

    
  </div>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
