



<% provide(:title, 'Church: Registered Churches') %>
<h1>All churches</h1>

<ul class="churches">
  <% @users.each do |user| %>
    <li>
      <ul><%= link_to user.church, user %></ul>
      <ul><%= user.email %></ul>
      <ul><%= user.location %></ul>
      <ul><%= user.religion %></ul>
      <ul><%= link_to 'Details', user %></ul>
      <ul><%= link_to 'Events', '#' %></ul>
      <%#= link_to user.username, user %>
    </li>
  <% end %>
</ul>

<!--
only if admin
-->
<%#= link_to 'New User', new_user_path %>
