<% provide(:title, @user.church) %>
<p id="notice"><%= notice %></p>
<!--
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
-->
<p>
  <b>Church:</b>
  <%= @user.church %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Religion:</b>
  <%= @user.religion %>
</p>

<!-- this temprary problem -->

<p>
	<%#= render 'userevents' %>
	</p>

  <% if @user.events.any? %>
  <%= @user.events.count %> Events!</h3>
  <!--
  <ol class="events">
  
  </ol>
-->
  <%= render @events %>
<%#= will paginate @events %>
  <% end %>

<% if signed_in? %>
<%#= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>


