<header class="navbar navbar-fixed-top navbar-inverse">
    <!--
    <div class="navbar-inner">
    -->
    <div id="container" class="container">
      <%= link_to "Church", '#', id: "logo" %>
      <!--<header>-->
        <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><%= link_to "Sign in", '#' %></li>
              <li><%= link_to "Sign up now!", '#' %></li>
            </ul>
          </nav>
        <%#= render 'layouts/navigation' %>
        <%#= render 'layouts/messages' %>
      </header>