%header.navbar.navbar-fixed-top.navbar-inverse
  /
    <div class="navbar-inner">
  #container.container
    %a.brand= link_to "Church", '/', id: "logo"
    / <header>
    %nav
      %ul.nav.pull-right
        - if signed_in?
          %li= link_to "Churches",    '/churches'
          %li= link_to "Help",    '#'
          %li= link_to "Church Name",    '#'
          %li/
          %li
            = link_to "New Event", new_event_path
          %li
            = link_to "Sign Out", signout_path, method: "delete"
        - else
          %li= link_to "Churches",    '/churches'
          %li= link_to "Sign in", '/login'
          %li= link_to "Sign up now!", '/signup'
